.content{
    position: relative;
    margin-top: -908px;
    margin-left: 390px;
    width: fit-content;
    height: fit-content;
}

.userdetails{
  margin-top: -16rem; 
  margin-left: 800px;
 

}
.carousel{
  top:-80px;
  width: 600px;
  height:400px
  
}